In [1]:
import numpy as np
import pandas as pd

# For Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
housing = pd.DataFrame(pd.read_csv("./Housing.csv"))
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
varlist = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
# Define map function
def binary_map(x):
    return x.map({'yes': 1, 'no': 0})

# Applying the function to housing list
housing[varlist] = housing[varlist].apply(binary_map)

housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [15]:
# Splitting Data into Training and Validation Sets
from sklearn.model_selection import train_test_split

np.random.seed(0)
df_train, df_test = train_test_split(housing, train_size = 0.8, test_size = 0.2)
df_train.shape

(436, 13)

In [16]:
df_test.shape

(109, 13)

In [23]:
# Problem 1a
num_vars_1a = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'price']
df_newTrain_1a = df_train[num_vars_1a]
df_newTest_1a = df_test[num_vars_1a]
df_newTrain_1a.head()

     area  bedrooms  bathrooms  stories  parking    price
542  3620         2          1        1        0  1750000
496  4000         2          1        1        0  2695000
484  3040         2          1        1        0  2870000
507  3600         2          1        1        0  2590000
252  9860         3          1        1        0  4515000

In [24]:
def compute_cost(X, y, theta):
 predictions = X.dot(theta) # H = X * Theta 
 errors = np.subtract(predictions, y) # H - Y
 sqrErrors = np.square(errors) # Square of above
 J = 1 / (2 * m) * np.sum(sqrErrors) # Sum of above array, multiply by 1/(2m)
 return J

In [25]:
def gradient_descent(X, y, theta, alpha, iterations):
 cost_history = np.zeros(iterations) # Store loss calculations in array to be able to plot gradient descent
 for i in range(iterations):
    predictions = X.dot(theta) # H = X * Theta
    errors = np.subtract(predictions, y) # H - Y
    derivLoss = (1 / m) * X.transpose().dot(errors); # Finishes derivative of loss calculation
    theta = theta - (alpha * derivLoss); # Calculates for new thetas
    cost_history[i] = compute_cost(X, y, theta) # Stores new cost from the new thetas
 return theta, cost_history

In [26]:
m = len(df_newTrain_1a)
m

436

In [37]:
#y_newTrain_1a = df_newTrain_1a.pop('price')
#x_newTrain_1a = df_newTrain_1a.copy()

X0_1a = np.ones((m,1))
X0_1a[:5]

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.]])

In [51]:
X_1a = df_newTrain_1a.values[:,0:5]
y_1a = df_newTrain_1a.values[:,5]
Y_1a = y_1a.reshape(m,1)

X = np.hstack((X0_1a, X_1a))
X[:10]

IndexError: index 5 is out of bounds for axis 1 with size 5

In [50]:
Y_1a[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]], dtype=int64)

In [ ]:
thetaX_1a = [0., 0., 0., 0., 0., 0.]
costX_1a = compute_cost(X, y