In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
#Read data from D3.csv as our dataset
dataset = pd.read_csv('D3.csv')

In [6]:
dataset.head() #default value of .head() is 5 rows

         X1        X2        X3         Y
0  0.000000  3.440000  0.440000  4.387545
1  0.040404  0.134949  0.888485  2.679650
2  0.080808  0.829899  1.336970  2.968490
3  0.121212  1.524848  1.785455  3.254065
4  0.161616  2.219798  2.233939  3.536375